---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseHead from "../components/BaseHead.astro";

const posts = (await Astro.glob("./proyectos/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 20);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bienvenido a mi portafolio!</div>
    <h1 class="text-5xl font-bold landing-title">Soy Luciano Canziani</h1>
    <h2 class="text-3xl py-3 font-bold landing-subtitle">Front-End Developer</h2>
    <div class="py-2">
      <p class="text-lg">
        Bienvenido a mi portafolio! Me llamo Luciano y aqui encontraras una
        recopilacion de mis proyectos en detalle y mi curriculum vitae.
      </p>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/luciano-canziani/"
        target="_blank"
        style="background-color: #f2f7ff;
      color: #000000;"
      >
        Conectemos!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Proyectos {"</>"}
    </div>
  </div>

  {
    posts.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          stack={post.frontmatter.stack}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
